@import "../../styles/abstracts/variables";

.bookListContainer {
  background-color: $light-color;
  margin: 16px;
  margin-top: 64px;
  padding: 16px;
  border-radius: 16px;
}

.bookList {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: center;

}
.heading {
  display: flex;
  justify-content: space-between;
  max-width: 1360px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 10px;
}