@import '../../styles/abstracts/variables';

.header {
  background-color: $tertiary-color;
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  .navList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin-right: 24px;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    padding: 16px 24px;
    display: block;
  }
  
  .navLink:hover {
    background-color: #ddd;
    color: black;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 48px;
  }
}
 